.containerCommentAndLike {
  width: 100%;
  height: auto;
  max-width: 60rem;

  gap: 3rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    padding: 0 4.25rem;
  }

  @media (max-width: 769px) {
    padding: 0 3rem;
  }

  @media (max-width: 469px) {
    padding: 0 2.25rem;
  }
}

.contentCommentAndLike {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;

  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  border-radius: 1.5rem;
  background-color: rgba(248, 248, 249, 1);

  >h4,
  p {
    font-weight: 800;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2.275rem;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >p {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.125rem;
  }

  @media (max-width: 469px) {
    padding: 1.375rem 2.25rem;

    gap: 1rem;

    >h4 {
      line-height: 2rem;
      font-size: 1.375rem;
    }

    >p {
      font-size: 0.8125rem;
      line-height: 1.25rem;
    }
  }
}

.informationsCommentAndLike {
  width: 100%;
  height: auto;

  gap: 1rem;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.informationDate,
.informationReadingTime {
  width: auto;
  height: 1.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  display: flex;
  align-items: center;

  border-radius: 999px;
  background-color: rgba(33, 38, 47, 1);

  >p {
    padding: 0 0.25rem;

    font-weight: 800;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
  }
}

.buttonCommentAndLike {
  width: auto;
  height: 1.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  border-radius: 999px;
  background-color: rgba(33, 38, 47, 1);

  >p {
    padding: 0 0.25rem;

    font-weight: 800;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    line-height: 0.9375rem;
    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
  }
}
