.containerImageAndDescription {
  width: 100%;
  height: auto;
  padding: 0 6rem;

  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  >img {
    width: 100%;
    max-width: 73.375rem;
  }

  @media (max-width: 1024px) {
    padding: 0 4.25rem;
  }

  @media (max-width: 769px) {
    padding: 0 2.375rem;
  }

  @media (max-width: 469px) {
    padding: 0 1.125rem;
  }
}

.containerDescription {
  width: 100%;
  height: auto;

  gap: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  >p {
    margin: 0;

    font-weight: 800;
    font-style: normal;
    font-size: 0.6875rem;
    letter-spacing: 0.1rem;
    line-height: 1.03125rem;
    text-transform: uppercase;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >p+p {
    font-weight: 600;
  }

  @media (max-width: 769px) {
    >p {
      font-size: 0.5625rem;
      line-height: 0.8125rem;
    }
  }
}
