.containerReadMore {
  width: 100%;
  height: auto;
}

.containerReadMore {
  width: 100%;
  height: auto;

  gap: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  >h2 {
    font-weight: 800;
    font-size: 2.25rem;
    font-style: normal;
    text-align: center;
    line-height: 2.925rem;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  @media (max-width: 1024px) {
    padding: 0 4.25rem;
  }

  @media (max-width: 769px) {
    padding: 0 3rem;

    >h2 {
      font-size: 1.75rem;
      line-height: 2.375rem;
    }
  }

  @media (max-width: 469px) {
    padding: 0 2.25rem;
  }
}

.containerReadCard {
  width: 100%;
  height: auto;

  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentReadMore {
  width: 100%;
  height: auto;
  padding: 2rem;
  max-width: 22.5rem;

  gap: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 1.5rem;
  background-color: rgba(248, 248, 249, 1);

  >img {
    width: 3rem;
  }

  >h5,
  p {
    font-weight: 800;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    line-height: 1.95rem;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
  }

  @media (max-width: 469px) {
    padding: 1.375rem 2.25rem;

    gap: 1rem;

    >h5 {
      line-height: 2rem;
      font-size: 1.375rem;
    }

    >p {
      font-size: 0.8125rem;
      line-height: 1.25rem;
    }
  }
}

.informationsReadMore {
  width: 100%;
  height: auto;

  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.informationDateReadMore,
.informationReadingTimeReadMore {
  width: auto;
  height: 1.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  display: flex;
  align-items: center;

  border-radius: 999px;
  background-color: rgba(33, 38, 47, 1);

  >p {
    padding: 0 0.25rem;

    font-weight: 800;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
  }
}

.buttonReadMore {
  width: auto;
  height: 1.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  border-radius: 999px;
  background-color: rgba(33, 38, 47, 1);

  >p {
    padding: 0 0.25rem;

    font-weight: 800;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    line-height: 0.9375rem;
    color: rgba(255, 255, 255, 1);
    font-family: "Lato", sans-serif;
  }
}
