.containerListOfBooks {
  width: 100%;
  height: auto;
  padding: 0 5rem;

  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    padding: 0 3.75rem;
  }

  @media (max-width: 769px) {
    gap: 2.375rem;
  }
}

.cardBook {
  width: 16.1875rem;

  >img {
    width: 16.1875rem;

    border-radius: 1rem;
  }

  .imgDefault {
    width: 16.1875rem;
    height: 24.28125rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    background-color: #ccc;

    >img {
      width: 1.875rem;
    }
  }
}

.descriptionBooks {
  width: 100%;
  height: auto;

  gap: 0.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  >p,
  span {
    margin: 0;

    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 0.6875rem;
    letter-spacing: 0.1rem;
    line-height: 1.03125rem;
    text-transform: uppercase;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >span {
    font-weight: 600;
  }
}
