* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: auto;
  padding: 6rem 0;

  gap: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerText {
  width: 100%;
  height: auto;
  max-width: 60rem;

  gap: 1.75rem;
  display: flex;
  flex-direction: column;

  >p {
    margin: 0;

    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.8rem;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  @media (max-width: 1024px) {
    padding: 0 4.875rem;
  }

  @media (max-width: 769px) {
    gap: 1.25rem;

    >p {
      line-height: 1.5rem;
      font-size: 0.9375rem;
    }
  }

  @media (max-width: 469px) {
    padding: 0 1.75rem;

    >p {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  @media (max-width: 420px) {
    padding: 0 1rem;

    >p {
      line-height: 1rem;
      font-size: 0.75rem;
    }
  }
}

.containerQuotation {
  width: 100%;
  height: auto;
  max-width: 73.375rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  >span,
  p {
    font-size: 3rem;
    font-weight: 800;
    font-style: normal;
    line-height: 3.6rem;
    color: rgba(47, 187, 105, 1);
    font-family: "Lato", sans-serif;
  }

  >p {
    text-align: center;

    font-weight: 400;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 3.25rem;
    color: rgba(33, 38, 47, 1);
  }

  @media (max-width: 1024px) {
    padding: 0 1.75rem;

    >span {
      font-size: 3rem;
      line-height: 3.6rem;
    }

    >p {
      font-size: 1.75rem;
      line-height: 1.875rem;
    }
  }

  @media (max-width: 769px) {
    >span {
      font-size: 3rem;
      line-height: 2.1875rem;
    }

    >span:nth-of-type(2) {
      font-size: 3rem;
      line-height: 3.6rem;
    }

    >p {
      font-size: 1.375rem;
      line-height: 1.625rem;
    }
  }

  @media (max-width: 469px) {
    >span {
      font-size: 2.375rem;
      line-height: 2.1875rem;
    }

    >span:nth-of-type(2) {
      font-size: 2.375rem;
      line-height: 2.1875rem;
    }

    >p {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }

  @media (max-width: 420px) {
    >span {
      font-size: 2rem;
      line-height: 1.75rem;
    }

    >span:nth-of-type(2) {
      font-size: 2rem;
      line-height: 2.1875rem;
    }

    >p {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  }
}

.TitleAndDescription {
  width: 100%;
  height: auto;
  max-width: 60rem;

  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  >h2,
  p,
  a {
    margin: 0;

    font-weight: 800;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 2.925rem;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >p,
  a {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.125rem;
  }

  >p>a {
    text-decoration: none;

    font-weight: 700;
    color: rgba(88, 155, 255, 1);
  }

  @media (max-width: 1024px) {
    padding: 0 4.25rem;
  }

  @media (max-width: 769px) {
    padding: 0 3rem;

    gap: 0.75rem;

    >h2 {
      font-size: 1.75rem;
      line-height: 2.375rem;
    }

    >p,
    a {
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }

  @media (max-width: 469px) {
    padding: 0 2.25rem;

    gap: 0.5rem;

    >h2 {
      font-size: 1.375rem;
      line-height: 2rem;
    }

    >p,
    a {
      font-size: 0.8125rem;
      line-height: 1.25rem;
    }
  }
}