* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.App {
  width: 100%;
  height: auto;
  padding: 96px 0;

  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerText {
  width: 100%;
  height: auto;
  max-width: 960px;

  gap: 28px;
  display: flex;
  flex-direction: column;

  >p {
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 28.8px;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  @media (max-width: 1024px) {
    padding: 0 78px;
  }

  @media (max-width: 769px) {
    gap: 20px;

    >p {
      font-size: 15px;
      line-height: 24px;
    }
  }

  @media (max-width: 469px) {
    padding: 0 28px;

    >p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (max-width: 420px) {
    padding: 0 16px;

    >p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.containerQuotation {
  width: 100%;
  height: auto;
  max-width: 1174px;

  display: flex;
  align-items: center;
  flex-direction: column;

  >span {
    color: rgba(47, 187, 105, 1);
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: 57.6px;
    font-family: "Lato", sans-serif;
  }

  >p {
    text-align: center;

    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    font-style: italic;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  @media (max-width: 1024px) {
    padding: 0 28px;

    >span {
      font-size: 48px;
      line-height: 57.6px;
    }

    >p {
      font-size: 28px;
      line-height: 30px;
    }
  }

  @media (max-width: 769px) {
    >span {
      font-size: 48px;
      line-height: 35px;
    }

    >span:nth-of-type(2) {
      font-size: 48px;
      line-height: 57.6px;
    }

    >p {
      font-size: 22px;
      line-height: 26px;
    }
  }

  @media (max-width: 469px) {
    >span {
      font-size: 38px;
      line-height: 35px;
    }

    >span:nth-of-type(2) {
      font-size: 38px;
      line-height: 35px;
    }

    >p {
      font-size: 20px;
      line-height: 26px;
    }
  }

  @media (max-width: 420px) {
    >span {
      font-size: 32px;
      line-height: 28px;
    }

    >span:nth-of-type(2) {
      font-size: 32px;
      line-height: 35px;
    }

    >p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.TitleAndDescription {
  width: 100%;
  height: auto;
  max-width: 960px;

  gap: 24px;
  display: flex;
  flex-direction: column;

  >h2,
  p,
  a {
    margin: 0;

    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    line-height: 46.8px;
    color: rgba(33, 38, 47, 1);
    font-family: "Lato", sans-serif;
  }

  >p,
  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
  }

  >p>a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(88, 155, 255, 1);
  }

  @media (max-width: 1024px) {
    padding: 0 68px;
  }

  @media (max-width: 769px) {
    gap: 12px;

    padding: 0 48px;

    >h2 {
      font-size: 28px;
      line-height: 38px;
    }

    >p,
    a {
      font-size: 16px;
      line-height: 26px;
    }
  }

  @media (max-width: 469px) {
    padding: 0 36px;

    gap: 8px;

    >h2 {
      font-size: 22px;
      line-height: 32px;
    }

    >p,
    a {
      font-size: 13px;
      line-height: 20px;
    }
  }
}